<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <add key="AzureKey" value="" />
    <add key="AppId" value="" />
    <!-- IE,Chrome,Firefox,Edge-->
    <add key="BrowserType" value="Chrome"/>
  </appSettings>
</configuration>
