<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net46" />
</packages>