<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineCrmUrl" value="" />
    <add key="MfaSecretKey" value="" />
    <add key="AzureKey" value="" />
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
</configuration>