<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineCrmUrl" value="" />
    <add key="MfaSecretKey" value="" />
    <add key="AzureKey" value="" />
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.diagnostics>
    <sources>  
      <source name="BrowserAutomation" switchName="sourceSwitch">  
        <listeners>  
          <add name="console" />
          <!--<add name="uiTestTraces" />-->
        </listeners>  
      </source>  
    </sources>  
    <switches>  
      <add name="sourceSwitch" value="Verbose" />  
    </switches>  
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="console" />
        <!--<add name="uiTestTraces" />-->
      </listeners>
    </trace>
    <sharedListeners>
      <!-- 
      Do not work for more than one test in VS Test Fremework, but work fine for NUnit:
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>  
      see more: https://stackoverflow.com/questions/36327531/why-are-messages-sent-to-trace-source-missing-from-all-but-the-first-unit-test, 
      A Custom TraceListener solve this problem: --> 
      <add name="console" type="Microsoft.Dynamics365.UIAutomation.Sample.ConsoleTraceListener, Microsoft.Dynamics365.UIAutomation.Sample" /> 
      <!--<add name="uiTestTraces" type="System.Diagnostics.TextWriterTraceListener" initializeData="ui-tests-traces.log" />-->  
    </sharedListeners> 
  </system.diagnostics>  
</configuration>