<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.Support" version="4.9.1" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="4.9.1" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="114.0.5735.9000" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
</packages>