<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="OnlineUsername" value="darent@rangers.onmicrosoft.com"/>
    <add key="OnlinePassword" value="R@ngers2017"/>
    <add key="OnlineCrmUrl" value="https://rangers.crm.dynamics.com/"/>-->
    <add key="OnlineUsername" value="easyrepro@pfecrmonline.onmicrosoft.com"/>
    <add key="OnlinePassword" value="R@ngers2017"/>
    <add key="OnlineCrmUrl" value="https://darent82.crm.dynamics.com"/>
    <add key="OnPremUsername" value="~\Administrator"/>
    <add key="OnPremPassword" value="T!T@n1130"/>
    <add key="OnPremCrmUrl" value="http://CenOp1003.cenop1003dom.extest.microsoft.com/org1"/>
    <add key="AzureKey" value="0c7a9c90-4cff-417f-8d97-28aac7aa76aa"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- IE,Chrome,Firefox,Edge-->
    <add key="BrowserType" value="Chrome"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
