<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="Selenium.Support" version="4.8.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="4.8.0" targetFramework="net462" />
</packages>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->